#!/bin/bash
echo "===================================================================================================="
date
NOW=$(date +"%Y-%m-%d-%H%M")
BACKUP_DIR="{{ mount_directory_db }}"

DB_USER="root"
DB_PASS="{{ mysql_root_password }}"
DB_NAME="{{ mysql_db }}"
DB_FILE="{{ virtual_domain }}.$NOW.sql"


mysqldump -u$DB_USER -p$DB_PASS --single-transaction --set-gtid-purged=ON --databases $DB_NAME > $BACKUP_DIR/$DB_FILE

#mysqldump -u$DB_USER -p$DB_PASS --set-gtid-purged=OFF --all-databases --triggers --routines --events > $BACKUP_DIR/$DB_FILE

if [[ $? -gt 0 ]];then
echo "ERROR: Aborted. Copying the database failed."
echo "======================================================================================================"
echo -en '\n'
exit 1
fi

echo "Copy the database successfull."
echo "======================================================================================================"
echo -en '\n'

