default menu
prompt 0
timeout 600
MENU TITLE Demo PXE setup
LABEL linux
 menu label ^Install system
 kernel images/CentOS/vmlinuz
 append initrd=images/CentOS/initrd.img ip=enp0s3:dhcp inst.repo=http://{{ ip_pxeserver }}/centos-install
LABEL linux-auto
 menu label ^Auto install system
 menu default
 kernel images/CentOS/vmlinuz
 append initrd=images/CentOS/initrd.img ip=enp0s3:dhcp inst.repo=http://{{ ip_pxeserver }}/centos-install inst.ks=http://{{ ip_pxeserver }}/ks.cfg
LABEL vesa
 menu label Install system with ^basic video driver
 kernel images/CentOS/vmlinuz
 append initrd=images/CentOS/initrd.img ip=dhcp inst.xdriver=vesa nomodeset
LABEL rescue
 menu label ^Rescue installed system
 kernel images/CentOS/vmlinuz
 append initrd=images/CentOS/initrd.img rescue
LABEL local
 menu label Boot from ^local drive
 localboot 0xffff