input {
  beats {
    port => 5044
  }
}

filter {
 if [type] == "nginx_access" {
    grok {
        match => { "message" => "%{IPORHOST:remote_ip} - %{DATA:user} \[%{HTTPDATE:access_time}\] \"%{WORD:http_method} %{DATA:url} HTTP/%{NUMBER:http_version}\" %{NUMBER:response_code} %{NUMBER:body_sent_bytes} \"%{DATA:referrer}\" \"%{DATA:agent}\"" }
    }
  }
  date {
        match => [ "timestamp" , "dd/MMM/YYYY:HH:mm:ss Z" ]
  }
}

output {
    if [type] == "nginx_access" {
        elasticsearch {
            hosts    => "localhost:9200"
            index    => "nginx-%{+YYYY.MM.dd}"
        }
    }
    if [type] == "nginx_error" {
        elasticsearch {
            hosts    => "localhost:9200"
            index    => "nginx-%{+YYYY.MM.dd}"
        }
    }
    if [type] == "httpd_access" {
        elasticsearch {
            hosts    => "localhost:9200"
            index    => "httpd-%{+YYYY.MM.dd}"
        }
    }
    if [type] == "httpd_error" {
        elasticsearch {
            hosts    => "localhost:9200"
            index    => "httpd-%{+YYYY.MM.dd}"
        }
    }
    if [type] == "syslog" {
        elasticsearch {
            hosts    => "localhost:9200"
            index    => "syslog-%{+YYYY.MM.dd}"
        }
    }
    if [type] == "audit" {
        elasticsearch {
            hosts    => "localhost:9200"
            index    => "audit-%{+YYYY.MM.dd}"
        }
    }
}            